In [1]:
import pandas as pd

The churn dataset contains customers' information and whether or not they exited the company.

In [40]:
churn_ind = pd.DataFrame(data={'surname': ['Andrews','Bartlett','Bearce','Boni','Chin'],
                           'geography': ['Spain','France','France','France','France'],
                           'credit_score': [497,822,528,699,549],
                           'age': [24,50,31,39,25],
                           'exited':['No','No','No','No','No']
                           }
                     )
churn_ind

    surname geography  credit_score  age exited
0   Andrews     Spain           497   24     No
1  Bartlett    France           822   50     No
2    Bearce    France           528   31     No
3      Boni    France           699   39     No
4      Chin    France           549   25     No

In [41]:
churn_ind.set_index(['surname','geography']).sort_index().loc['Bartlett':'chin']

                    credit_score  age exited
surname  geography
Bartlett France              822   50     No
Bearce   France              528   31     No
Boni     France              699   39     No
Chin     France              549   25     No

The sales dataset contains information about daily store purchases. What is the correct way to return unique entries for each product?

In [42]:
sales = pd.DataFrame(data={'date':['2018-01-15','2018-01-15','2018-01-16','2018-01-16','2018-01-17'],
                           'product_line':['Health and beauty', 'Electronic accessories', 'Home and lifestyle', 'Sports', 'Food and beverages'],
                           'product': ['Shampoo', 'Headphones', 'Lamp', 'Yoga mat', 'Milk'],
                           'unit_price': [6.99,25.38,46.33,39.99,5.99],
                           'quantity': [7,5,3,5,8]
                           })
sales

         date            product_line     product  unit_price  quantity
0  2018-01-15       Health and beauty     Shampoo        6.99         7
1  2018-01-15  Electronic accessories  Headphones       25.38         5
2  2018-01-16      Home and lifestyle        Lamp       46.33         3
3  2018-01-16                  Sports    Yoga mat       39.99         5
4  2018-01-17      Food and beverages        Milk        5.99         8

In [39]:
sales.drop_duplicates(subset = 'product')

         date            product_line     product  unit_price  quantity
0  2018-01-15       Health and beauty     Shampoo        6.99         7
1  2018-01-15  Electronic accessories  Headphones       25.38         5
2  2018-01-16      Home and lifestyle        Lamp       46.33         3
3  2018-01-16                  Sports    Yoga mat       39.99         5
4  2018-01-17      Food and beverages        Milk        5.99         8

In [48]:
churn_spain = churn_ind.set_index('geography')
churn_spain

            surname  credit_score  age exited
geography
Spain       Andrews           497   24     No
France     Bartlett           822   50     No
France       Bearce           528   31     No
France         Boni           699   39     No
France         Chin           549   25     No

The churn dataset contains customers' information and whether or not they exited the company.

In [58]:
churn_france = churn_ind.set_index('geography')
churn_france.loc['France']

            surname  credit_score  age exited
geography
France     Bartlett           822   50     No
France       Bearce           528   31     No
France         Boni           699   39     No
France         Chin           549   25     No

In [56]:
sales['unit_price'].mean()

24.936

In [74]:
churn_ind = pd.DataFrame(data={'surname': ['Hargrave','Hill','Onio','Boni','Mitchell'],
                               'geography': ['France','Spain','France','France','Spain'],
                               'credit_score': [619,608,502,699,850],
                               'age': [42,41,42,39,43],
                               'exited':['Yes','No','Yes','No','No']
                               }
                         )
churn_ind

    surname geography  credit_score  age exited
0  Hargrave    France           619   42    Yes
1      Hill     Spain           608   41     No
2      Onio    France           502   42    Yes
3      Boni    France           699   39     No
4  Mitchell     Spain           850   43     No

In [81]:
churn_misc = churn_ind.set_index(['surname','geography'])
churn_misc.loc[[('Boni','France'),('Obinna','Germany')]]

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: MultiIndex([('Obinna', 'Germany')],\n           names=['surname', 'geography']). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"

In [86]:
import numpy as np

In [90]:
churn_ind.index

RangeIndex(start=0, stop=5, step=1)

## The sales dataset contains information about daily store purchases. The `filtered_sales` dataset contains products that belong to `Health and beauty` and `Sports`.

In [92]:
filtered_sales = sales[sales['product_line'].isin(['Health and beauty','Sports'])]
filtered_sales

         date       product_line   product  unit_price  quantity
0  2018-01-15  Health and beauty   Shampoo        6.99         7
3  2018-01-16             Sports  Yoga mat       39.99         5

In [93]:
filtered_sales.groupby(['product_line','product'])[['unit_price','quantity']].min()

                            unit_price  quantity
product_line      product
Health and beauty Shampoo         6.99         7
Sports            Yoga mat       39.99         5

### The `churn` dataset contains customers' information and whether or not they exited the company.

In [104]:
churn_ind[churn_ind['geography'].isin(['France','Spain'])]

    surname geography  credit_score  age exited
0  Hargrave    France           619   42    Yes
1      Hill     Spain           608   41     No
2      Onio    France           502   42    Yes
3      Boni    France           699   39     No
4  Mitchell     Spain           850   43     No

### Rewrite the following code as a lambda function:

In [106]:
def plus_5(number):
    """Adds 5 to a given number and returns the result."""
    new_number = number + 5
    return new_number

plus_5(10)

15

In [111]:
plus_5_new = lambda number: number + 5
plus_5_new(10)

15

### Complete the code to return the output

In [112]:
x = [3, -1, -10, 2, 7]
filter_positive = filter(lambda n: n > 0, x)
list(filter_positive)

[3, 2, 7]

In [128]:
sales.dtypes.value_counts()

object     3
int64      1
float64    1
dtype: int64