---
title: "Data Transformation"

---

# About
This is a Data Transformation cheat sheet meant to be a second brain
when performing data science functions.


# Ingesting Data

Please see the Data Ingestion Cheat sheet to learn how to load data

In [ ]:
import pandas as pd
import numpy as np
import plotly.express as px

In [ ]:
pd.read_csv?

## Reading CSV

In [ ]:
sales = pd.read_csv(
    'data/sales_data.csv',
    parse_dates=['Date']
)

sales = sales.sort_values(by=['Date'], ascending = True)

## Adding Column Names

In [ ]:
marvel_data = [
    ['Spider-Man', 'male', 1962],
    ['Captain America', 'male', 1941],
    ['Wolverine', 'male', 1974],
    ['Iron Man', 'male', 1963],
    ['Thor', 'male', 1963],
    ['Thing', 'male', 1961],
    ['Mister Fantastic', 'male', 1961],
    ['Hulk', 'male', 1962],
    ['Beast', 'male', 1963],
    ['Invisible Woman', 'female', 1961],
    ['Storm', 'female', 1975],
    ['Namor', 'male', 1939],
    ['Hawkeye', 'male', 1964],
    ['Daredevil', 'male', 1964],
    ['Doctor Strange', 'male', 1963],
    ['Hank Pym', 'male', 1962],
    ['Scarlet Witch', 'female', 1964],
    ['Wasp', 'female', 1963],
    ['Black Widow', 'female', 1964],
    ['Vision', 'male', 1968]
]

marvel_df = pd.DataFrame(data=marvel_data,
                         columns=['name', 'sex', 'first_appearance'])
marvel_df

## Adding Column Names When Reading CSV

In [ ]:
btc_price = pd.read_csv(
    'data/btc-market-price.csv',
    header=None,
    names=['Timestamp', 'Price'],
    index_col=0, # this sets the column in this instance its the first column 1
    # index_col='Timestamp',  # You can also add the column name
    parse_dates=True
)

btc_price.head()

# Creating a Pandas Dataframe

In [ ]:
country_stat = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

country_stat

## Setting the Index

In [ ]:
country_stat.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

country_stat.sort_values(by=['Continent','Population','HDI'], ascending=False)

## Splitting String into Two Columns

In this example we split the county and state from each other

In [ ]:
census_county = pd.read_csv("data/census_county.csv")

census_county[["state","county","NAME"]].head()


new = census_county["NAME"].str.split(", ", expand = True)
census_county["county_name"] = new[0]
census_county["state_name"] = new[1]

census_county.drop(columns=['NAME'], inplace=True)
census_county.head()

# Modifying Data Time

## Inspecting DataTypes

In [ ]:
btc_price.dtypes

## Updating String Using to Date Time

In [ ]:
btc_price = btc_price.reset_index()
btc_price['Timestamp'] = pd.to_datetime(btc_price['Timestamp'])
btc_price.dtypes

## Filtering Data Time

In [ ]:
btc_price.set_index('Timestamp', inplace=True)
btc_price.loc['2017-09-29':'2017-10-05']

## Date Diff Calc

In [ ]:
import datetime

year = datetime.date.today().year

marvel_df['years_since'] = year - marvel_df['first_appearance']
marvel_df

## Convert Date Time To Year or Month

In [ ]:
sales['Year'] = sales['Date'].dt.year
sales['Month'] = sales['Date'].dt.month
sales

# Summarizing Data

In [ ]:
sales.head()

## Understanding the Data

In [ ]:
sales.shape

In [ ]:
sales.info()

In [ ]:
sales.columns

## Summary Statistics

In [ ]:
sales.describe()

In [ ]:
sales[['Age_Group','Unit_Price']].groupby('Age_Group').describe()

In [ ]:
# Number of elements in the data
sales.size

## Data Types

In [ ]:
sales.dtypes

In [ ]:
sales['Unit_Cost'].describe()

## Individual Statistics

In [ ]:
sales['Unit_Cost'].mean()

In [ ]:
sales['Unit_Cost'].median()

In [ ]:
sales['Unit_Cost'].min(), sales['Unit_Cost'].max()

In [ ]:
sales['Unit_Cost'].std()

## Quantiles

In [ ]:
sales['Unit_Cost'].quantile(0.25)

In [ ]:
sales['Unit_Cost'].quantile([.2, .4, .6, .8, 1])

## Value Counts

In [ ]:
sales['Age_Group'].value_counts()

In [ ]:
 sales['Age_Group'].value_counts(normalize=True)

In [ ]:
country_group = sales.groupby(['Country'])
country_group['Age_Group'].value_counts(normalize=True).loc['Australia']

In [ ]:
sales.dtypes.value_counts()

## Bar Graph

In [ ]:
pd.DataFrame(sales['Age_Group'].value_counts(normalize = True)).plot(kind = 'bar', figsize = (10,5))

## Correlations

In [ ]:
corr = sales.select_dtypes(include='int64').corr(numeric_only = False)
corr

In [ ]:
px.imshow(corr)

# Column Wrangling & Feature Engineering

In [ ]:
sales['Revenue_per_Age'] = sales['Revenue'] / sales['Customer_Age']
sales['Revenue_per_Age'].head()

In [ ]:
sales['Calculated_Cost'] = sales['Order_Quantity'] * sales['Unit_Cost']
sales['Calculated_Cost'].head()

In [ ]:
(sales['Calculated_Cost'] != sales['Cost']).sum()

## Lag Function

In [ ]:
df_freq_daily['PriceGrowth'] = df_freq_daily.Price / df_freq_daily.Price.shift(1) - 1
df_freq_daily

## Modifying All

In [ ]:
sales['Calculated_Cost'] *= 1.03
sales['Calculated_Cost'].head()

## Working with loc

In [ ]:
marvel_df.loc['Vision', 'first_appearance'] = 1964
marvel_df

In [ ]:
sales.loc[sales['Country'] == 'France', 'Revenue'].head()

In [ ]:
sales.loc[sales['Country'] == 'France', 'Revenue'] *= 1.10
sales.loc[sales['Country'] == 'France', 'Revenue'].head()

In [ ]:
crisis = pd.Series([-1_000_000, -0.3], index=['GDP', 'HDI'])
crisis

In [ ]:
crisis[['GDP', 'HDI']] + crisis

# Pivoting Data
## Long to Wide

In [ ]:
# https://beta.bls.gov/dataQuery/find?fq=survey:[ap]&s=popularity:D
# This data came from bls
df_long = pd.read_csv("data/file.csv")
df_long

In [ ]:
# unmelting using pivot()
df_wide=pd.pivot(df_long, index=['Series ID','Item'], columns = 'Year Month',values = 'Avg. Price ($)') #Reshape from long to wide

df_wide.reset_index()

## Wide to Long

In [ ]:
year_list=list(df_wide.columns)
df_long = pd.melt(df_wide, value_vars=year_list,value_name='Avg. Price ($)', ignore_index=False).reset_index()
df_long

# Aggregating Data
## Calculating Percentage Share

In [ ]:
sales_yr_age = sales.groupby(['Year','Age_Group']).agg({'Profit':'sum','Revenue':'sum'})
sales_yr_age['Revenue_Share'] = sales_yr_age['Revenue'] / sales_yr_age.groupby(['Year'])['Revenue'].sum()
sales_yr_age['Profit_Share'] = sales_yr_age['Profit'] / sales_yr_age.groupby(['Year'])['Profit'].sum()
sales_yr_age.reset_index()

## Aggregating Dates

In [ ]:
df_freq = pd.DataFrame({
    "Publish Date" : [
        pd.Timestamp("2000-01-01"),
        pd.Timestamp("2000-01-02"),
        pd.Timestamp("2000-01-02"),
        pd.Timestamp("2000-01-02"),
        pd.Timestamp("2000-01-09"),
        pd.Timestamp("2000-01-16")
    ],
    "ID": [0, 1, 2, 3, 4, 5],
    "Price": [10, 20, 30, 40, 50, 60]
    }
)
df_freq

In [ ]:
df_freq.groupby('Publish Date')['Price'].mean()

## Filling Gaps

In [ ]:
df_freq_daily = df_freq.groupby(pd.Grouper(key = "Publish Date", freq= "1D"))['Price'].mean().reset_index()
df_freq_daily

## Counting Unique Values

In [ ]:
sales.groupby('Age_Group').agg({'State':'nunique'})

## Aggregating on Multiple Values

In [ ]:
sales_country = sales.groupby('Country').agg({'Order_Quantity':np.sum,'Revenue':np.sum}).reset_index()
sales_country

In [ ]:
sales_country['aov'] = sales_country['Revenue']/ sales_country['Order_Quantity']
sales_country

## Reset Index Alternative

In [ ]:
# USE as_index = False INSTEAD OF reset_index()
sales.groupby('Country', as_index=False).agg(
    Order_Total = ("Order_Quantity", np.sum),
    Orders_Avg = ("Order_Quantity", np.mean),
    Revenue_Total = ("Revenue", np.sum),
    Revenue_avg = ("Revenue", np.mean),
    States = ("State", np.count_nonzero),
    Unique_States = ("State", pd.Series.nunique)
)

## Weighted Average Calculation

### Option 1 (Best)

In [ ]:
census_wavg = census_county.groupby('state_name').agg(
  population = ('population',np.sum),
  weighted_avg=('median_income', lambda x: np.average(x, weights=census_county.loc[x.index, 'population']))
  )

census_wavg.reset_index().head()

### Option 2

In [ ]:
census_wavg = census_county.groupby('state_name').apply(lambda x: np.average(x['median_income'], weights=x['population'])).reset_index()
census_wavg = census_wavg.rename(columns = {0:'median_income'})
census_wavg.head()

### Option 3

In [ ]:
# define a custom function to calculate the weighted average
def weighted_average(df, value_column, weight_column):
    return (df[value_column] * df[weight_column]).sum() / df[weight_column].sum()

# group by the 'group' column and apply the custom function to calculate the weighted average within each group
census_wavg = census_county.groupby('state_name').apply(
  weighted_average, value_column='median_income', weight_column='population'
  ).reset_index()
  
census_wavg = census_wavg.rename(columns = {0:'medain_income'}).head()
census_wavg

# Filtering
## Single Filter

In [ ]:
sales = sales.set_index('Country')
sales.loc['Canada'].head()

## Filtering Multiple Values

In [ ]:
sales = sales.reset_index()
geo_list = ['Canada','Australia','United States']
geo_filter = sales['Country'].isin(geo_list)
sales[geo_filter].head()

## Retrieving Single and Multiple columns
### Option 1 (Best)

In [ ]:
sales.loc[(sales['Month'] == 11) &
          (sales['Year'] == 2013),
          ['Age_Group','Revenue']
].head()

### Option 2 (2nd Best)

In [ ]:
sales.query("State == 'Kentucky' and Year == 2014")[['Year','Age_Group','Revenue']]

## Filtering + Aggregating
Get the mean revenue of the `Adults (35-64)` sales group

In [ ]:
sales.loc[sales['Age_Group']=='Adults (35-64)', 'Revenue'].mean()

How Many Records belong to Age Group `Youth (<25)` or `Adults 35-64`?

In [ ]:
sales.loc[(sales['Age_Group'] == 'Youth (<25)') | (sales['Age_Group'] == 'Adults (35-64)')].shape[0]

Get the mean revenue of the sales group `Adults (35-64)` in `United States`

In [ ]:
sales.loc[(sales['Age_Group'] == 'Adults (35-64)') & (sales['Country'] == 'United States'), 'Revenue'].mean()

# Modifying DataFrame

In [ ]:
langs = pd.Series(
    ['French', 'German', 'Italian'],
    index=['France', 'Germany', 'Italy'],
    name='Language'
)

langs

In [ ]:
country_stat['Language'] = langs
country_stat

In [ ]:
country_stat['Language'] = 'English'
country_stat

# Renaming Columns

In [ ]:
country_stat.rename(
    columns={
        'HDI': 'Human Development Index',
        'Anual Popcorn Consumption': 'APC'
    }, index={
        'United States': 'USA',
        'United Kingdom': 'UK',
        'Argentina': 'AR'
    })

## Columns Upper Case

In [ ]:
country_stat.rename(index=str.upper)

In [ ]:
country_stat.rename(index=str.lower)

## Apending or Unioning Values

In [ ]:
# create two sample DataFrames
df1 = pd.DataFrame({'col1': [1, 2, 3], 'col2': [4, 5, 6]})
df2 = pd.DataFrame({'col1': [7, 8, 9], 'col2': [10, 11, 12]})

# concatenate the DataFrames vertically
result = pd.concat([df1, df2])

print(result)

# Cleaning Data
## Identifying Null values

In [ ]:
pd.isnull(np.nan)
pd.isnull(None)
pd.isna(np.nan)
pd.notnull(None)
pd.isna(None)

In [ ]:
pd.isnull(pd.DataFrame({
    'Column A': [1, np.nan, 7],
    'Column B': [np.nan, 2, 3],
    'Column C': [np.nan, 2, np.nan]
}))

## Aggregating with Nulls

In [ ]:
pd.Series([1, 2, np.nan]).count()
pd.Series([1, 2, np.nan]).sum()
pd.Series([2, 2, np.nan]).mean()

## Null Values in a Series

In [ ]:
s = pd.Series([1, 2, 3, np.nan, np.nan, 4])
pd.notnull(s)

In [ ]:
pd.isnull(s)

In [ ]:
s.isnull()

## Removing Null Values

In [ ]:
s[s.notnull()]

## Removing Null Values

In [ ]:
s
s.dropna()

## DataFrames and Nulls

In [ ]:
df_nulls = pd.DataFrame({
    'Column A': [1, np.nan, 30, np.nan],
    'Column B': [2, 8, 31, np.nan],
    'Column C': [np.nan, 9, 32, 100],
    'Column D': [5, 8, 34, 110],
})
df_nulls

## Aggregating Nulls w/ Data Frames

In [ ]:
df_nulls.isnull().sum()
df_nulls.dropna()

## Drop Entire Columns
The Only column that doesn't have any NA's is Column D

In [ ]:
df_nulls.dropna(axis=1)

In this case, any row or column that contains **at least** one null value will be dropped. Which can be, depending on the case, too extreme. You can control this behavior with the `how` parameter. Can be either `'any'` or `'all'`:

In [ ]:
df_nulls2 = pd.DataFrame({
    'Column A': [1, np.nan, 30],
    'Column B': [2, np.nan, 31],
    'Column C': [np.nan, np.nan, 100]
})
df_nulls2

In [ ]:
df_nulls2.dropna(how='all') # if all columns have NA then drop
df_nulls2.dropna(how = 'any') # default behavior

In [ ]:
df_nulls2.dropna(thresh=3) # if at least 3 values are NA
df_nulls2.dropna(thresh=3, axis='columns')

# Filling Null Values On DataFrames

In [ ]:
df_nulls2.fillna(value = 0)

In [ ]:
df_nulls2.fillna(value = 0)

In [ ]:
df_nulls2.fillna(value = df_nulls2['Column A'].mean())

In [ ]:
df_nulls2.fillna({'Column A': 0, 'Column B': 99, 'Column C': df_nulls['Column C'].mean()})

## Forwards filling

In [ ]:
df_nulls2.fillna(method='ffill', axis=0)

##Backward filling

In [ ]:
df_nulls2.fillna(method='bfill', axis=0)

In [ ]:
rents = pd.read_csv('data/zillow_data.csv')
rents.describe()

## Missing Data in Graphs
We can see in the above line that there is missing data. Let's use interpolate

In [ ]:
import plotly.express as px
px.line(rents, x = 'rent_date', y = 'avg_rents', color='RegionName')

### We can see in the above line that there is missing data. Let's use interpolate

In [ ]:
rents[rents['RegionName'] == 'New York County'] = rents[rents['RegionName'] == 'New York County'].interpolate(method = 'linear')
px.line(rents, x = 'rent_date', y = 'avg_rents', color='RegionName')

# Cleaning All Values
The previous `DataFrame` doesn't have any "missing value", but clearly has invalid data. `290` doesn't seem like a valid age, and `D` and `?` don't correspond with any known sex category. How can you clean these not-missing, but clearly invalid values then?

In [ ]:
gender = pd.DataFrame({
    'Sex': ['M', 'F', 'F', 'D', '?'],
    'Age': [29, 30, 24, 290, 25],
})
gender

## Replace

In [ ]:
gender['Sex'].replace('D','F')

In [ ]:
gender['Sex'].replace({'D': 'F', 'N': 'M'})

If you have many columns to replace, you could apply it at “DataFrame level”:

In [ ]:
gender.replace({
    'Sex': {'D': 'F','N': 'M'},
    'Age': { 290: 29}
})

# Duplicates
 The sales dataset contains information about daily store purchases. What is the correct way to return unique entries for each product?

In [ ]:
sales_datacamp = pd.DataFrame(data={'date':['2018-01-15','2018-01-15','2018-01-20','2018-01-16','2018-01-16','2018-01-17'],
                           'product_line':['Health and beauty', 'Electronic accessories', 'Electronic accessories', 'Home and lifestyle', 'Sports', 'Food and beverages'],
                           'product': ['Shampoo', 'Headphones', 'Headphones', 'Lamp', 'Yoga mat', 'Milk'],
                           'unit_price': [6.99,25.38,32.00,46.33,39.99,5.99],
                           'quantity': [7,5,2,3,5,8]
                           })
sales_datacamp

The duplicate is dropped

In [ ]:
sales_datacamp.drop_duplicates(subset='product')

In [ ]:
ambassadors = pd.Series([
    'France',
    'United Kingdom',
    'United Kingdom',
    'Italy',
    'Germany',
    'Germany',
    'Germany',
], index=[
    'Gérard Araud',
    'Kim Darroch',
    'Peter Westmacott',
    'Armando Varricchio',
    'Peter Wittig',
    'Peter Ammon',
    'Klaus Scharioth '
])

ambassadors

In [ ]:
ambassadors.duplicated()

In this case `duplicated` didn't consider `'Kim Darroch'`, the first instance of the United Kingdom or `'Peter Wittig'` as duplicates. That's because, by default, it'll consider the first occurrence of the value as not-duplicate. You can change this behavior with the `keep` parameter:

In [ ]:
ambassadors.duplicated(keep='last')

In this case, the result is "flipped", `'Kim Darroch'` and `'Peter Wittig'` (the first ambassadors of their countries) are considered duplicates, but `'Peter Westmacott'` and `'Klaus Scharioth'` are not duplicates. You can also choose to mark all of them as duplicates with `keep=False`:

In [ ]:
ambassadors.duplicated(keep=False)

In [ ]:
ambassadors.duplicated(keep=False)

A similar method is `drop_duplicates`, which just excludes the duplicated values and also accepts the `keep` parameter:

In [ ]:
ambassadors.drop_duplicates(keep='last')

In [ ]:
ambassadors.drop_duplicates(keep=False)

# Duplicates in DataFrames
Conceptually speaking, duplicates in a DataFrame happen at "row" level. Two rows with exactly the same values are considered to be duplicates:

In [ ]:
players = pd.DataFrame({
    'Name': [
        'Kobe Bryant',
        'LeBron James',
        'Kobe Bryant',
        'Carmelo Anthony',
        'Kobe Bryant',
    ],
    'Pos': [
        'SG',
        'SF',
        'SG',
        'SF',
        'SF'
    ]
})

players

Highlights only 1 record to remove

In [ ]:
players.duplicated()

Highlights all records to remove

In [ ]:
players.duplicated(subset=['Name'])

In [ ]:
players.duplicated(subset=['Name'], keep='last')

In [ ]:
players.drop_duplicates()

In [ ]:
players.drop_duplicates(subset=['Name'])

In [ ]:
players.drop_duplicates(subset=['Name'], keep='last')

# Changing Datatypes

In [ ]:
sales['Year_Char'] = sales['Year'].astype(str)
sales[['Year','Year_Char']].dtypes

Encode `Product` as a `category` type. The columns of data frame `df` now have the following types:

In [ ]:
sales[['Product']].dtypes

sales['Product'] = sales.Product.astype('category')
sales[['Product']].dtypes

## Integers Downcasting

This can help reduce the data size

- int8 can store integers form -128 to 127
- int16 can store integers from -32768 to 32767
- int64 can store integers from -9223372036854775808 to 9223372036854775807

In [ ]:
sales.info()

In [ ]:
int8_dt = ['Day','Month','Year','Customer_Age','Order_Quantity','Unit_Price','Profit','Cost']
sales[int8_dt] = sales[int8_dt].astype('int8')
sales.info()

## Automatically Convert Dtypes

In [ ]:
sales.convert_dtypes().info()

## Select Int8 Datatypes

In [ ]:
sales.select_dtypes(include='int8').columns

## Ordinal Sorting

In [ ]:
# define the categories and their order
cat_type = pd.CategoricalDtype(categories=['United States', 'Canada', 'United Kingdom','Germany',  'Australia', 'France' ], ordered=True)

# change the datatype of the column to categorical
sales["Country"] = sales["Country"].astype(cat_type)

# check the datatype of the column again
sales["Country"].dtype

sales.groupby('Country')['Revenue_per_Age'].sum()

#Joining Data

In [ ]:
census_state = census_county.groupby('state_name').agg({'population':np.sum}).reset_index()
census_state = pd.merge(census_wavg,
                        census_state,
                           how="left",
                           left_on = ["state_name"],
                           right_on = ["state_name"])
census_state.head()

# Case When np.Where
##

In [ ]:
census_state["is_arizona"] = np.where(census_state["state_name"] == 'Arizona', True, False).copy()
census_state

## Using A List

In [ ]:
geo_list =  ['Arizona','Nevada','New Mexico','Utah','Texas','Colorado']
census_state["sun_belt"] = np.where(census_state["state_name"].isin(geo_list), True, False).copy()
census_state

## Multiple Condition

In [ ]:
census_state["sun_belt"] = np.where((census_state["state_name"] == 'Arizona') |
                                    (census_state["state_name"] == 'Nevada') |
                                    (census_state["state_name"] == 'New Mexico'), True, False).copy()
census_state

# Creating A Progress Bar
This Only works for Loops

In [ ]:
from tqdm import tqdm
import time

In [ ]:
for i in tqdm(range(10)):
    time.sleep(1)

In [ ]:
from tqdm.notebook import tqdm

In [ ]:
for i in tqdm(range(10)):
    time.sleep(1)